
Unknown Organization/zoom.conf
autostart/google-chrome.desktop.gitignore
autostart/
chromium/
coc/
configstore/
dconf/
dleyna-server-service.conf
enchant/
evolution/
fish/
geary/
gedit/
gnome-control-center/
gnome-gmail/
gnome-initial-setup-done
goa-1.0/
gtk-3.0/
ibus/
jesseduffield/
kazam/
libinput-gestures.conf
libreoffice/
mimeapps.list
nautilus/
nvim/:CocCommand explorer --preset floating
nvim/autoload/
nvim/get-pip.py
odrive/
omf/
pulse/
ranger/
sublime-text-3/
totem/
user-dirs.dirs
user-dirs.locale
vokoscreenNG/
zoomus.conf

nvim/session/Completeness
nvim/session/Config
nvim/session/LogicReligion
nvim/session/__LAST__
nvim/spell/en.utf-8.add
nvim/spell/en.utf-8.add.spl
QtProject.conf
tmux/.tmux.reset.conf
balena-etcher-electron/.updaterId
balena-etcher-electron/Cache/1607ac23e0e660d9_0
balena-etcher-electron/Cache/e33fe84a4704b2be_0
balena-etcher-electron/Cache/index
balena-etcher-electron/Cache/index-dir/the-real-index
balena-etcher-electron/Code Cache/js/index
balena-etcher-electron/Code Cache/js/index-dir/the-real-index
balena-etcher-electron/Code Cache/wasm/index
balena-etcher-electron/Code Cache/wasm/index-dir/the-real-index
balena-etcher-electron/Dictionaries/en-GB-9-0.bdic
balena-etcher-electron/GPUCache/data_0
balena-etcher-electron/GPUCache/data_1
balena-etcher-electron/GPUCache/data_2
balena-etcher-electron/GPUCache/data_3
balena-etcher-electron/GPUCache/index
balena-etcher-electron/Local Storage/leveldb/000003.log
balena-etcher-electron/Local Storage/leveldb/CURRENT
balena-etcher-electron/Local Storage/leveldb/LOCK
balena-etcher-electron/Local Storage/leveldb/LOG
balena-etcher-electron/Local Storage/leveldb/MANIFEST-000001
balena-etcher-electron/Network Persistent State
balena-etcher-electron/Preferences
balena-etcher-electron/Session Storage/000003.log
balena-etcher-electron/Session Storage/CURRENT
balena-etcher-electron/Session Storage/LOCK
balena-etcher-electron/Session Storage/LOG
balena-etcher-electron/Session Storage/MANIFEST-000001
monitors.xml
nvim/.netrwhist
nvim/session/BilatticeTheory
nvim/templates/Subfiles/Chapters/Ch1/Ch1.aux
nvim/templates/Subfiles/Chapters/Ch1/Ch1.log
nvim/templates/Subfiles/Chapters/Ch1/Ch1.out
nvim/templates/Subfiles/Chapters/Ch1/Ch1.pdf
nvim/templates/Subfiles/Chapters/Ch1/Ch1.synctex.gz
nvim/templates/Subfiles/Chapters/Ch1/Ch1.toc
nvim/templates/Subfiles/Chapters/Ch2/Ch2.aux
nvim/templates/Subfiles/Chapters/Ch2/Ch2.log
nvim/templates/Subfiles/Chapters/Ch2/Ch2.out
nvim/templates/Subfiles/Chapters/Ch2/Ch2.pdf
nvim/templates/Subfiles/Chapters/Ch2/Ch2.synctex.gz
nvim/templates/Subfiles/Chapters/Ch2/Ch2.toc
nvim/templates/Subfiles/Root.aux
nvim/templates/Subfiles/Root.log
nvim/templates/Subfiles/Root.out
nvim/templates/Subfiles/Root.pdf
nvim/templates/Subfiles/Root.synctex.gz
nvim/templates/Subfiles/Root.toc
nvim/session/Test
Kvantum/kvantum.kvconfig
Trolltech.conf
caffeine/whitelist.txt
falkon/profiles/manjaro/bookmarks.json
falkon/profiles/manjaro/browsedata.db
falkon/profiles/manjaro/version
falkon/profiles/profiles.ini
gtk-4.0/settings.ini
hexchat/addon_checksum.conf
hexchat/addon_sysinfo.conf
hexchat/hexchat.conf
hexchat/keybindings.conf
hexchat/servlist.conf
manjaro-hello.json
pamac/refresh_timestamp
pamac/size
qt5ct/qt5ct.conf
nvim/session/IdentityAboutness
nvim/session/Reduction

autostart/msm_notifier.desktop
autostart/libinput-gestures.desktop
autostart/create-template.desktop

eog/accels
evince/accels
evince/print-settings
nvim/session/TODO
nvim/session/Explanation
atril/atril_toolbar.xml
kactivitymanagerdrc
kdeconnect/certificate.pem
kdeconnect/privateKey.pem
kglobalshortcutsrc
okularpartrc
okularrc
scribus/checkfonts150.xml
scribus/prefs150.xml
scribus/scribus150.rc
scribus/scribusshapes.xml
session/okular_1016d5d71f361ade8215946578608094800000015180086_1594657860_334405
Microsoft/
gh/config.yml
gh/hosts.yml
gh/state.yml
nvim/session/
BraveSoftware/
google-chrome/
session/
vivaldi/

kdeglobals
kgpgrc
monitors.xml~
nvim/undo/%home%benbrastmckie%.config%nvim%init.vim
skypeforlinux/

teams/

pop-shell/config.json
nvim/script.md
kdenliverc
okularrc.lock.rmlock
Kvantum/Sweet#/Sweet#.kvconfig
bleachbit/bleachbit.ini
deluge/gtk3ui.conf
falkon/profiles/garuda/bookmarks.json
falkon/profiles/garuda/browsedata.db
falkon/profiles/garuda/version
flameshot/flameshot.ini
garuda/garuda-settings-manager-Notifier.conf
garuda/garuda-welcome.conf
ksnip/ksnip.conf
lazygit/config.yml
lazygit/state.yml
micro/backups/%tmp%tmp.VKKtKO0R75.fish:1:1
micro/plug/aspell/help/aspell.md
micro/plug/aspell/LICENSE
micro/plug/aspell/README.md
micro/plug/aspell/aspell.lua
micro/plug/aspell/repo.json
micro/plug/fzf/README.md
micro/plug/fzf/main.lua
micro/plug/fzf/repo.json
micro/plug/wc/help/wc.md
micro/plug/wc/CHANGELOG.md
micro/plug/wc/LICENSE
micro/plug/wc/README.md
micro/plug/wc/info.json
micro/plug/wc/repo.json
micro/plug/wc/wc.lua
micro/bindings.json
micro/settings.json
mpv/mpv.conf
neofetch/config.conf
pipewire/media-session.d/default-routes
pipewire/media-session.d/restore-stream
psd/psd.conf
pulseaudio-ctl/config
smplayer/smplayer.ini
strawberry/strawberry.conf
variety/variety.conf
vlc/vlcrc
linux-steam-integration.conf
starship.toml
Smart Code ltd/Stremio.conf
pipewire/media-session.d/default-nodes
torbrowser/settings.json
kolourpaintrc
mpv/watch_later/953B881F355A4D6A30BBD048E4DB5D21
GIMP/2.10/internal-data/custom.ggr
GIMP/2.10/tool-options/gimp-airbrush-tool
GIMP/2.10/tool-options/gimp-align-tool
GIMP/2.10/tool-options/gimp-brightness-contrast-tool
GIMP/2.10/tool-options/gimp-bucket-fill-tool
GIMP/2.10/tool-options/gimp-by-color-select-tool
GIMP/2.10/tool-options/gimp-cage-tool
GIMP/2.10/tool-options/gimp-clone-tool
GIMP/2.10/tool-options/gimp-color-picker-tool
GIMP/2.10/tool-options/gimp-convolve-tool
GIMP/2.10/tool-options/gimp-crop-tool
GIMP/2.10/tool-options/gimp-curves-tool
GIMP/2.10/tool-options/gimp-dodge-burn-tool
GIMP/2.10/tool-options/gimp-ellipse-select-tool
GIMP/2.10/tool-options/gimp-eraser-tool
GIMP/2.10/tool-options/gimp-flip-tool
GIMP/2.10/tool-options/gimp-foreground-select-tool
GIMP/2.10/tool-options/gimp-free-select-tool
GIMP/2.10/tool-options/gimp-fuzzy-select-tool
GIMP/2.10/tool-options/gimp-gegl-tool
GIMP/2.10/tool-options/gimp-gradient-tool
GIMP/2.10/tool-options/gimp-handle-transform-tool
GIMP/2.10/tool-options/gimp-heal-tool
GIMP/2.10/tool-options/gimp-ink-tool
GIMP/2.10/tool-options/gimp-iscissors-tool
GIMP/2.10/tool-options/gimp-levels-tool
GIMP/2.10/tool-options/gimp-measure-tool
GIMP/2.10/tool-options/gimp-move-tool
GIMP/2.10/tool-options/gimp-mypaint-brush-tool
GIMP/2.10/tool-options/gimp-offset-tool
GIMP/2.10/tool-options/gimp-operation-tool
GIMP/2.10/tool-options/gimp-paintbrush-tool
GIMP/2.10/tool-options/gimp-pencil-tool
GIMP/2.10/tool-options/gimp-perspective-clone-tool
GIMP/2.10/tool-options/gimp-perspective-tool
GIMP/2.10/tool-options/gimp-rect-select-tool
GIMP/2.10/tool-options/gimp-rotate-tool
GIMP/2.10/tool-options/gimp-scale-tool
GIMP/2.10/tool-options/gimp-shear-tool
GIMP/2.10/tool-options/gimp-smudge-tool
GIMP/2.10/tool-options/gimp-text-tool
GIMP/2.10/tool-options/gimp-threshold-tool
GIMP/2.10/tool-options/gimp-transform-3d-tool
GIMP/2.10/tool-options/gimp-unified-transform-tool
GIMP/2.10/tool-options/gimp-vector-tool
GIMP/2.10/tool-options/gimp-warp-tool
GIMP/2.10/tool-options/gimp-zoom-tool
GIMP/2.10/action-history
GIMP/2.10/colorrc
GIMP/2.10/contextrc
GIMP/2.10/controllerrc
GIMP/2.10/devicerc
GIMP/2.10/dockrc
GIMP/2.10/gimprc
GIMP/2.10/menurc
GIMP/2.10/parasiterc
GIMP/2.10/pluginrc
GIMP/2.10/sessionrc
GIMP/2.10/tags.xml
GIMP/2.10/templaterc
GIMP/2.10/themerc
GIMP/2.10/toolrc
GIMP/2.10/unitrc
gtk-2.0/gtkfilechooser.ini
micro/buffers/history
kconf_updaterc
mpv/watch_later/221C915C68513A5ABA31828E52D0CEA1
pipewire/media-session.d/default-profile
luavim/
garuda
touchegg

vifm/scripts/README
vifm/vifm-help.txt
neovim
vifm/vifminfo.json
GIMP/2.10/print-page-setup
GIMP/2.10/print-settings
Unknown Organization/zoom .conf
nvim/other/fakeMnSymbol.sty
nvim/other/makefakeMnSymbol.pl
vifm/vifminfo.json_3660834
.gsd-keyboard.settings-ported