jesseduffield/
omf/
nvim/session/
tmux/
nvim/autoload/plugged
Unknown Organization/zoom.conf
dconf/user
enchant
environment.d
evolution/sources
fontconfig/conf.d
git
gnome-control-center/backgrounds
lazygit
nautilus
nvim/plugin
nvim/spell
pulse
session
totem
yelp
.gsd-keyboard.settings-ported
QtProject.conf
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
okularpartrc
okularrc
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
cef_user_data/Dictionaries/en-US-10-1.bdic
nvim/sessions
gtk-3.0
okular.kmessagebox
gtk-4.0/gtk.css
cef_user_data/WidevineCdm
evince
temp
fish/fish_variables
