[Desktop Entry]
Name=Xmodmap
GenericName=Keyboard Remapping
Exec=xmodmap /etc/X11/xinit/.Xmodmap
Terminal=false
Type=Application
Categories=Keyboard;
StartupNotify=false
