[Desktop Entry]
Type=Application
Name=Remapping
Exec=xmodmap ~/.Xmodmap
Terminal=false
Categories=Keyboard;
X-GNOME-Autostart-enabled=true
StartupNotify=false
